body {
    padding: 2%;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(236, 243, 197);
}



h1 {
    font-size: 6vw;
}

.lead {
    font-size: 3vw;
}

h5 {
    font-size: 5vw;
    padding-top: 10%;
    text-align: center;
}

.container {
    text-align: center;
    border-width: 10px;
    border-style: double;
    border-color: grey;
    background-color: white;
}
.row {
    font-size: 1vw;
}

body {
    padding: 2%;
}

.jumbotron {
    font-family: 'Alata', sans-serif;
    background-image: url('https://i.pinimg.com/564x/73/ea/9c/73ea9c22beb42648c951922c1584847a.jpg');

}

.col {
    padding: 0;
}

.card {
    width: 100%;
    padding: 20px;
    
}



img {
    max-width: 300px;
    float: right;
    
}

span {
    width: 70px;
}

.carousel-indicators > li,
.carousel-indicators > li.active{
    width: 45px;
    height: 20px;
    border-radius: 0;
    border: solid 1px black;
    background: white;
    text-indent: 0;
    text-align: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    position: relative;
    top: -260px;
}  

.carousel-control-next-icon:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f0a4';
  font-size: 8vw;
  color: rgb(5, 4, 4);
}

.carousel-control-prev-icon:after {
  
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0a5';
    font-size: 8vw;
    color: rgb(5, 4, 4);
}

.fas {
    position: relative;
    top: -260px;
    color: black;
    font-size: 8vw;
}
